#!/bin/sh
#
# ~/.xprofile
#

xrandr --output eDP1 --primary

sh ~/.fehbg &

# if we have private ssh key(s), start ssh-agent and add the key(s)

id1=$HOME/.ssh/id_chtd_rsa
id2=$HOME/.ssh/id_dsa
id3=$HOME/.ssh/id_rsa
if [ -x /usr/bin/ssh-agent ] && [ -f $id1 -o -f $id2 -o -f $id3 ];
then
    eval `ssh-agent -s`
    ssh-add $id1 $id2 $id3 < /dev/null
fi

ssh -fN -D 12021 -o ControlMaster=no n3 &
ssh -fN hg@bitbucket.org &
ssh -fN git@bitbucket.org &

export SOCKS_SERVER="127.0.0.1:12021"
export SOCKS_VERSION=5

export no_proxy="localhost,127.0.0.1,local.host,localhost.localdomain,192.168.1.0/24"

# exec i3
